<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {%- if page.title -%}
      {{ page.title }}
    {%- else -%}
      {{ site.title }}
    {%- endif -%}
  </title>

  {%-seo title=false-%}
  {%-feed_meta-%}

  <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon | relative_url }}" />
  <link rel="stylesheet" href="styles.css"> 
  <style>
      .right-aligned {
          float: right;
          margin: 10px 200px 10px 0; /* 上 右 下 左 的外边距 */
          max-width: 200px; /* 调整图片大小，根据需要调整 */
          vertical-align: top; /* 确保图片与上方对齐 */
      }
  </style>
</head>
