<div class="container">
    <img src="{{ site.baseurl }}{{ site.data.menu.profile_image }}" alt="Profile Image" class="right-aligned">

    <ul>
        {%- for sub_item in include.collection -%}
            <li>
                {%- if sub_item.url -%}
                    <a href="{{ sub_item.url }}">{{ sub_item.title }}</a>
                {%- else -%}
                    {{ sub_item.title }}
                {%- endif -%}
            </li>
    
            {%- if sub_item.post_list -%}
                {%
                    include post_list.html
                    category=sub_item.post_list.category
                    limit=sub_item.post_list.limit
                    show_more=sub_item.post_list.show_more
                    show_more_text=sub_item.post_list.show_more_text
                    show_more_url=sub_item.post_list.show_more_url
                -%}
            {%- endif -%}
    
            {%- if sub_item.entries -%}
                {%- include menu_item.html collection=sub_item.entries -%}
            {%- endif -%}
        {%- endfor -%}
    </ul>
</div>
